@model Guid
@{
    ViewData["Title"] = "Recipe";
}

<div>
    <img class="hero-image" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Neapolitan_pizza.jpg" />
</div>
<div class="title-bar">
    <h1>Neapolitan Pizza</h1>
</div>
<div class="ingredients">
    <h2>Ingredients</h2>
    <ul>
        <li>250g strong bread flour</li>
        <li>2.5 g salt</li>
        <li>5g dried yeast</li>
        <li>164ml water</li>
    </ul>
</div>
<div class="method">
    <h2>Method</h2>
    <ol>
        <li>Preheat the oven to 220ºC/425ºF/gas 7.</li>
        <li>Put the flour and salt into a large bowl. Add the yeast to 325ml lukewarm water and stir to dissolve, then gradually add to the flour, mixing well until you get a rough dough – if it’s too sticky, add a little more flour.</li>
        <li>Shape the dough into a ball, then cover with a tea towel and leave to rest for 5 minutes.</li>
        <li>On a flour-dusted surface, knead the dough for 8 to 10 minutes, or until smooth and elastic.</li>
        <li>Split the dough into four equal-sized balls, knead each piece for a couple of minutes, then roll into balls and place on a clean semolina-dusted tray (if you don't have semolina, it’s fine to use breadcrumbs too). Dust with a little more flour, cover with a damp tea towel and leave to rise in a warm place for around 2 hours, or until doubled in size.</li>
        <li>On a flour-dusted surface, use your hands to stretch a ball of dough into a circle, roughly 35cm to 40cm in diameter – I try and get the dough to the thickness of a pancake, leaving the border slightly thicker. Repeat with the remaining dough, then sprinkle two large baking trays with the semolina and place the pizza bases on top.</li>
    </ol>
</div>