@model WebApplication.Models.Recipe
@{
    ViewData["Title"] = "Recipe";
}

<div>
    <img class="hero-image" src="@Model.ImageUrl" />
</div>
<div class="title-bar">
    <h1>@Model.Name</h1>
</div>
<div class="ingredients">
    <h2>Ingredients</h2>
    <ul>
        @foreach (var ingredient in Model.Ingredients)
        {
            <li>@ingredient</li>
        }
    </ul>
</div>
<div class="method">
    <h2>Method</h2>
    <ol>
        @foreach (var step in Model.Steps)
        {
            <li>@step</li>
        }
    </ol>
</div>